<p-card [header]="gameName" [style]="{margin: '1rem'}">
    <div class="statistics__scores">
      <div>
        <h4 class="statistics__sub-title">Les gagnants</h4>
        <app-podium [podiumData]="bestPointGamesRatios"></app-podium>
      </div>
      <div class="statistics__right">
        <div class="statistics__ratios">
          <div class="statistics__ratio_list">
            <h4 class="statistics__sub-title">Les perdants</h4>
            <div>
              @for (ratio of worstPointGamesRatios; let index = $index; track ratio.playerName) {
                <p class="margin-0">
                  {{ (index + 1) + '/ ' + ratio.playerName + ' : (' + ratio.defeats + '/' + ratio.gamesPlayed + ')' }}
                </p>
              }   
            </div>
          </div>
        </div>
        <div class="statistics__ratios">
          <div class="statistics__ratio_list">
            <h4 class="statistics__sub-title">Les plus constants (top3)</h4>
            <div>
              @for (ratio of topThreePointGamesRatios; let index = $index; track ratio.playerName) {
                <p class="margin-0">
                  {{ (index + 1) + '/ ' + ratio.playerName + ' : (' + ratio.topThree + '/' + ratio.gamesPlayed + ')' }}
                </p>  
              }   
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>