<div class="container podium">
    <div class="podium__item">
      <div class="podium__name"><span>{{secondPlayerName}}</span><span class="podium__ratio">{{secondPlayerRatio}}</span></div>
      <div class="podium__rank second">2</div>
    </div>
    <div class="podium__item">
      <div class="podium__name"><span>{{firstPlayerName}}</span><span class="podium__ratio">{{firstPlayerRatio}}</span></div>
      <div class="podium__rank first">1</div>
  </div>
    <div class="podium__item">
      <div class="podium__name"><span>{{thirdPlayerName}}</span><span class="podium__ratio">{{thirdPlayerRatio}}</span></div>
      <div class="podium__rank third">3</div>
    </div>
</div>