.podium {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__item {
    width: 80px;
    margin: 0 8px;
  }

  &__ratio {
    font-size: 12px;
  }

  &__rank {
    display: flex;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }

  &__name {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8px 0;
  }

  &__number {
    width: 27px;
    height: 75px;
  }

  &__first {
    min-height: 160px;
    background: #d4af37;
  }

  &__second {
    min-height: 90px;
    background: #c0c0c0;
  }

  &__third {
    min-height: 40px;
    background: #614e1a;
  }
}
