:host {
  display: flex;
  justify-content: flex-end;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.podium__item {
  width: 80px;
  margin: 0 8px;
}

.podium__ratio {
  font-size: 12px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.podium__name {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 8px 0;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  min-height: 160px;
  background: #d4af37;
}

.podium .second {
  min-height: 90px;
  background: #c0c0c0;
}

.podium .third {
  min-height: 40px;
  background: #614e1a;
}
