:host {
  .round-scores {
    padding: 0.5rem;

    &__title {
      text-align: center;
    }

    &__buttons {
      display: flex;
      justify-content: space-around;
    }

    &__name-column {
      z-index: 2;
    }

    &__point-column {
      z-index: 1;
    }
  }

  td {
    padding: 0.75rem 0.5rem;
  }

  input {
    width: 40px;
  }
}
