.latest-scores {
  &__item {
    margin: 1rem 0;
  }

  &__title {
    text-align: center;
  }

  &__point-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__point-games-item {
    margin: 1rem 0;
    width: 50%;
  }

  @media (max-width: 800px) {
    &__point-games {
      flex-direction: column;
    }

    &__point-games-item {
      width: 100% !important;
    }
  }
}

.line-height {
  line-height: 1.4;
}

::ng-deep .scores__icon {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 52px;
}

::ng-deep .p-carousel {
  margin: 0 0.5rem;
}

::ng-deep .scores__title {
  display: flex;
  justify-content: space-between;
}

::ng-deep .p-card .p-card-content {
  padding: 0 !important;
}
