<div class="latest-scores">
  <!-- Trio -->
  <div class="latest-scores__item">
    <app-title-card
      title="Trio"
      color="green"
      [itemsCount]="trioScores.length"
      [icon]="faCubes"
    ></app-title-card>
    @if (trioScores.length) {
      <app-trio [scores]="trioScores"></app-trio>
    } @else {
      <app-empty-state></app-empty-state>
    }
  </div>
  <!-- 6 qui prend -->
  <div class="latest-scores__item">
    <app-title-card
      color="red"
      title="6 qui Prend"
      [itemsCount]="sixQuiPrendScores.length"
      [icon]="fa6"
    ></app-title-card>
    @if (sixQuiPrendScores.length) {
      <app-point-games [scores]="sixQuiPrendScores"></app-point-games>
    } @else {
      <app-empty-state></app-empty-state>
    }
  </div>
  <!-- Hilo -->
  <div class="latest-scores__item">
    <app-title-card
      color="blue"
      title="Hilo"
      [itemsCount]="hiloScores.length"
      [icon]="faArrowUp19"
    ></app-title-card>
    @if (hiloScores.length) {
      <app-point-games [scores]="hiloScores"></app-point-games>
    } @else {
      <app-empty-state></app-empty-state>
    }
  </div>
</div>
