.winner {
  font-weight: 700;
}

.points-games__height {
  height: 36px;
}
@media (max-width: 500px){
  .points-games__list {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }
}

.points-games__list {
  display: flex;
  flex-direction: column;
}
