.points-games {
  &__height {
    height: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 500px) {
    &__list {
      display: grid !important;
      grid-template-columns: 50% 50% !important;
    }
  }
}

