.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 2rem;
}

.player {
  display: flex;
  gap: 5px;
}

.p-button-icon-only {
  background: red;
}

.winner-button {
  padding-left: 10px;
}

.player-field {
  display: flex;
}

.players-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.duo-switch {
  display: flex;
  align-items: center;
}

.duo-switch__label {
  padding: 0 0.75rem 0.15rem 0;
}

.message {
  margin: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}
