<p-carousel
  [value]="scores"
  [showIndicators]="false"
>
  <ng-template let-game pTemplate="item">
    <p-card class="trio">
      <div class="trio__title">
        <div class="trio__header">
          <fa-icon [icon]="faCrown" [style]="{color: '#FFD43B', 'font-size': '1.8rem'}"></fa-icon>
          <h4>{{ game.winner }}</h4>
        </div>
        <div class="trio__header">
          <fa-icon [icon]="faDate" [style]="{'font-size': '1.2rem'}"></fa-icon>
          <h5>{{ game.date.toDate().toLocaleDateString() }}</h5></div>
      </div>
      <div class="trio__players">
        <fa-icon [icon]="faGroup" [style]="{'font-size': '1.4rem'}"></fa-icon>
        <p class="line-height">{{ getPlayerList(game.players) }}</p>
      </div>
    </p-card>
  </ng-template>
</p-carousel>
