<header>
  <div class="links justify-center">
    @for (item of items; track item.label) {
      <a
        [routerLink]="item.routerLink"
        class="menu-link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="ml-2">{{ item.label }}</span>
      </a>
    }
  </div>
</header>
<main>
  <router-outlet />
  @if (showAddButton) {
    <a
      pButton
      [routerLink]="'/scores/new'"
      icon="pi pi-plus"
      title="Enregistrer des scores"
      class="add-button"
    ></a>
  }
</main>
