.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 2rem;
}

.player {
  display: flex;
  gap: 5px;
}

.p-button-icon-only {
  background: red;
}

.winner-button {
  padding-left: 10px;
}

.player-field {
  display: flex;
}

.players-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.save-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem 0;
}
