@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
  font-family: "Inter", Roboto, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

body {
  margin: 0;
}

.save-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem 0;
}
