<p-card header="Trio" subheader="Meilleur ratio (parties gagnées/jouéees)" [style]="{margin: '1rem'}">
  <div class="trio-scores">
    <app-podium [podiumData]="trioRatioData"></app-podium>
    <div class="trio-scores__others">
      @for (ratio of trioRatioData; let i = $index; track ratio.name) {
        @if(i > 2){
          <p class="margin-0">
            {{ (i+1) + '/ ' + ratio.name + ' : ' + ratio.ratio }}
          </p>
        }
      }
    </div>
  </div>
</p-card>

<p-card header="Six Qui Prend" subheader="Meilleur ratio (parties gagnées/jouéees)" [style]="{margin: '1rem'}">
<app-podium [podiumData]="sixQuiPrendRatioData"></app-podium>
</p-card>

<p-card header="Six Qui Prend" subheader="Les meilleurs" [style]="{margin: '1rem'}">
  @for (ratio of bestSixQuiPrendPlayerList; let index = $index; track ratio.playerName) {
    @if (ratio.wins !== 0){
      <p class="margin-0">
        {{ 'Top ' + (index + 1) + ' : ' + ratio.playerName + ' : (' + ratio.wins + '/' + ratio.gamesPlayed + ')' }}
      </p>
    }
  }
</p-card><!--
<p-card header="Six Qui Prend" subheader="Les plus éclatés au sol" [style]="{margin: '1rem'}">
  @for (ratio of worstSixQuiPrendPlayerList; let index = $index; track ratio.playerName) {
    @if (ratio.defeats !== 0){
      <p class="margin-0">
        {{ 'Top ' + (index + 1) + ' : ' + ratio.playerName + ' : (' + ratio.defeats + '/' + ratio.gamesPlayed + ')' }}
      </p>
    }
  }
</p-card>-->
